@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

* {
font-family: "Kanit", sans-serif;
font-weight: 500;
font-style: normal;
}

.home-section{
    background-color: #C1DCDC;
}

.h1-section{
    white-space: pre-line;
    font-weight: bolder;
    font-size: 4rem;
}

.search-pill{
border: none;
width: 60%;
}

.search-pill .btn-custom-search {
background-color: #000; 
border: none;
color: white;
}
